In [1]:
import pandas as pd
path='/Users/Admin/Downloads/ipynbs/datasets/3-Mall_Customers.csv'
dt=pd.read_csv(path)
print(dt)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [2]:
dt.dtypes

CustomerID                 int64
Genre                     object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [4]:
dt['Genre']

0        Male
1        Male
2      Female
3      Female
4      Female
        ...
195    Female
196    Female
197      Male
198      Male
199      Male
Name: Genre, Length: 200, dtype: object

In [5]:
dt.mean()

TypeError: Could not convert ['MaleMaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleMaleFemaleFemaleFemaleMaleMaleFemaleMaleMaleFemaleMaleMaleFemaleMaleFemaleMaleFemaleMaleFemaleFemaleMaleFemaleMaleMaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleMaleMaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleMaleFemaleMaleFemaleMaleFemaleMaleMaleMaleFemaleFemaleMaleMaleFemaleFemaleMaleFemaleMaleFemaleFemaleFemaleMaleMaleFemaleMaleFemaleFemaleMaleMaleMaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleMaleMaleFemaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleMaleMaleMaleFemaleFemaleMaleMaleMaleMaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFemaleMaleFemaleFemaleMaleMaleMaleMaleMaleMaleFemaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleMaleFemaleFemaleMaleMaleMaleFemaleFemaleMaleMaleMaleFemaleFemaleFemaleFemaleMaleFemaleMaleFemaleFemaleFemaleMaleFemaleMaleFemaleMaleFemaleFemaleMaleMaleMaleMaleMaleFemaleFemaleMaleMaleMaleMaleFemaleFemaleMaleFemaleFemaleMaleFemaleMaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleFemaleMaleMaleMale'] to numeric

In [ ]:
dt.loc[:,'Age'].mean()

38.85

In [ ]:
dt.loc[:,'Annual Income (k$)'].mean()

60.56

In [ ]:
dt.mean(axis=1)[0:4]

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
dt.median()

<ipython-input-7-6fa999c4056d>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dt.median()

CustomerID                100.5
Age                        36.0
Annual Income (k$)         61.5
Spending Score (1-100)     50.0
dtype: float64

In [ ]:
dt.loc[:,'Age'].median()

36.0

In [ ]:
dt.loc[:,'Annual Income (k$)'].median()

61.5

In [ ]:
dt.median(axis=1)[0:4]

<ipython-input-10-851b5bbaa91c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dt.median(axis=1)[0:4]

0    17.0
1    18.0
2    11.0
3    19.5
dtype: float64

In [ ]:
dt.mode()

     CustomerID   Genre   Age  Annual Income (k$)  Spending Score (1-100)
0             1  Female  32.0                54.0                    42.0
1             2     NaN   NaN                78.0                     NaN
2             3     NaN   NaN                 NaN                     NaN
3             4     NaN   NaN                 NaN                     NaN
4             5     NaN   NaN                 NaN                     NaN
..          ...     ...   ...                 ...                     ...
195         196     NaN   NaN                 NaN                     NaN
196         197     NaN   NaN                 NaN                     NaN
197         198     NaN   NaN                 NaN                     NaN
198         199     NaN   NaN                 NaN                     NaN
199         200     NaN   NaN                 NaN                     NaN

[200 rows x 5 columns]

In [ ]:
dt.mode()
dt.loc[:,'Age'].mode()

0    32
Name: Age, dtype: int64

In [ ]:
dt.min()

CustomerID                     1
Genre                     Female
Age                           18
Annual Income (k$)            15
Spending Score (1-100)         1
dtype: object

In [ ]:
dt.max()

CustomerID                 200
Genre                     Male
Age                         70
Annual Income (k$)         137
Spending Score (1-100)      99
dtype: object

In [ ]:
dt.loc[:,'Age'].min(skipna=False)

18

In [ ]:
dt.loc[:,'Age'].max()

70

In [ ]:
dt.std()

<ipython-input-17-2d6b5fd6a2f0>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dt.std()

CustomerID                57.879185
Age                       13.969007
Annual Income (k$)        26.264721
Spending Score (1-100)    25.823522
dtype: float64

In [ ]:
dt.loc[:,'Age'].std()

13.96900733155888

In [ ]:
dt.loc[:,'Annual Income (k$)'].std()

26.264721165271244

In [ ]:
dt.std(axis=1)[0:4]

<ipython-input-20-43fd5cce4aaa>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dt.std(axis=1)[0:4]

0    15.695010
1    35.074920
2     8.057088
3    32.300671
dtype: float64

In [ ]:
dt.groupby(['Genre'])['Age'].mean()

Genre
Female    38.098214
Male      39.806818
Name: Age, dtype: float64

In [ ]:
newdt=dt.rename(columns={'Anuual Income (k$)':'Income'},inplace=False)
newdt
#newdt.groupby(['Genre']).Income.mean())

NameError: name 'dt' is not defined

In [ ]:
newdt=dt.rename(columns={'Annual Income (k$)':'Income'},inplace=False)
newdt
#newdt
(newdt.groupby(['Genre']).Income.mean())

Genre
Female    59.250000
Male      62.227273
Name: Income, dtype: float64

In [ ]:
from sklearn import preprocessing
en=preprocessing.OneHotEncoder()
en_dt=pd.DataFrame(en.fit_transform(dt[['Genre']]).toarray())
en_dt

       0    1
0    0.0  1.0
1    0.0  1.0
2    1.0  0.0
3    1.0  0.0
4    1.0  0.0
..   ...  ...
195  1.0  0.0
196  1.0  0.0
197  0.0  1.0
198  0.0  1.0
199  0.0  1.0

[200 rows x 2 columns]

In [ ]:
dt_encode=newdt.join(en_dt)
dt_encode

     CustomerID   Genre  Age  Income  Spending Score (1-100)    0    1
0             1    Male   19      15                      39  0.0  1.0
1             2    Male   21      15                      81  0.0  1.0
2             3  Female   20      16                       6  1.0  0.0
3             4  Female   23      16                      77  1.0  0.0
4             5  Female   31      17                      40  1.0  0.0
..          ...     ...  ...     ...                     ...  ...  ...
195         196  Female   35     120                      79  1.0  0.0
196         197  Female   45     126                      28  1.0  0.0
197         198    Male   32     126                      74  0.0  1.0
198         199    Male   32     137                      18  0.0  1.0
199         200    Male   30     137                      83  0.0  1.0

[200 rows x 7 columns]

In [ ]:
import pandas as pd
path='/content/drive/MyDrive/DSBDA/DATASETS/pr3/Iris.csv'
dt=pd.read_csv(path)
print(dt)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
col_names=['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']
dt

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
iris=pd.read_csv("/content/drive/MyDrive/DSBDA/DATASETS/pr3/Iris.csv",names=col_names)
iris

      Sepal_Length   Sepal_Width   Petal_Length   Petal_Width         Species
Id   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[151 rows x 5 columns]

In [ ]:
irisset=(iris['Species']=='Iris-setosa')
print('Iris-setosa :  \n ')
print(iris[irisset].describe())

Iris-setosa :

       Sepal_Length Sepal_Width Petal_Length Petal_Width      Species
count            50          50           50          50           50
unique           15          16            9           6            1
top             5.1         3.4          1.5         0.2  Iris-setosa
freq              8           9           14          28           50

In [ ]:
irisvercol=(iris['Species']=='Iris-Versicolor')
print('Iris-versicolor :  \n \t ')
print(iris[irisvercol].describe())

Iris-versicolor :

       Sepal_Length Sepal_Width Petal_Length Petal_Width Species
count             0           0            0           0       0
unique            0           0            0           0       0
top             NaN         NaN          NaN         NaN     NaN
freq            NaN         NaN          NaN         NaN     NaN

In [ ]:
irisverg=(iris['Species']=='Iris-Virginica')
print('Iris -Viginica : \n \t ')
print(iris[irisverg].describe())

Iris -Viginica :

       Sepal_Length Sepal_Width Petal_Length Petal_Width Species
count             0           0            0           0       0
unique            0           0            0           0       0
top             NaN         NaN          NaN         NaN     NaN
freq            NaN         NaN          NaN         NaN     NaN